[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
requests = "*"
xmltodict = "*"
colorama = "*"
pylint = "*"
pylint-celery = "*"

[dev-packages]

[requires]
python_version = "3.14"
